<li>
    <a href="#">
        <i class="ti-world"></i>
        <span class="menu-title">Geo</span>
        <i class="arrow"></i>
    </a>

    <ul class="collapse">
        <li>
            <a href="{{ path('toro_admin_zone_index') }}">
                <i class="fa fa-file-text-o"></i>
                <span class="menu-title">{{ 'Zones' }}</span>
            </a>
        </li>
        <li>
            <a href="{{ path('toro_admin_country_index') }}">
                <i class="fa fa-file-text-o"></i>
                <span class="menu-title">{{ 'Contries' }}</span>
            </a>
        </li>
        <li>
            <a href="{{ path('toro_admin_geo_name_index') }}">
                <i class="fa fa-file-text-o"></i>
                <span class="menu-title">{{ 'Geo Names' }}</span>
            </a>
        </li>
    </ul>
</li>
